{% load static %}
<div class="navbar-bg">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'transactions:home' %}">
          <img
            src="../../static/imgs/spendy.png"
            alt="logo"
            class="sidebar-logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-auto" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between">
            <div class="d-flex flex-column flex-lg-row gap-lg-4">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'transactions:home' %}"
                >Home</a
              >
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                Admin
              </a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'transactions:credit' %}">
                    Credit
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'transactions:deposit' %}">
                    Deposit
                </a>
            </li>
            <li class="nav-item ">
                <p class="nav-link" id="rate">
                  USD {{ usd_price }} / *** ****
                </p>
            </li>
            <li class="nav-item ">
                <p class="nav-link" id="rate">
                    {{ user_balance.amount }}
                </p>
            </li>
            </div>
            <div class="d-flex gap-2">
              <li class="nav-item">
                <a class="nav-link" href=""><img class="navbar-icon" src="../../static/imgs/profile.svg" alt="profile"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}"><img class="navbar-icon" src="../../static/imgs/logout.svg" alt="logout"></a>
              </li>
            </div>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}"> Sign In </a>
            </li>
        {% endif %}

      </ul>
    </div>
  </div>
  <script src="../../static/navigation.js"></script>
</nav>
  </div>
</div>

