{% extends 'base.html' %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col-6 col-lg-3 offset-1">
    <div class="mb-4 section-title text-center h1">General</div>
    <div class="d-flex flex-row justify-content-center mb-4 h5">
      <input type="date" id="date-start" name="date" />
      <span> - </span>
      <input type="date" id="date-end" name="date" />
    </div>
    <div class="diagram"></div>
    <div class="section-title">Total:</div>
    <div class="custom-list">
      <div class="mb-4 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div class="list-bullet" id="dark-green"></div>
          <div class="section-title">Income</div>
        </div>
        <div class="income-info">+$$$$$$</div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div class="list-bullet" id="light-green"></div>
          <div class="section-title">Expenses</div>
        </div>
        <div class="expenses-info">-$$$$$$</div>
      </div>
    </div>
    <div class="d-flex flex-column gap-4 btns-wrapper">
      <button type="button" class="btn home-button mx-auto">Add income</button>
      <button type="button" class="btn home-button mx-auto">Add expenses</button>
    </div>
  </div>
  <div class="col-6 col-lg-6 offset-1 shadow p-3 rounded">
    <div class="d-flex flex-row justify-content-between">
      <div class="mb-3 section-title">Transaction history:</div>
      <a href="#" class="view-more">View more ></a>
    </div>
    <div class="table">
      {% for transaction in transactions %}
        <div class="table-row d-flex flex-row justify-content-between align-items-center border-bottom">
          <div class="transaction-price">{{ transaction.amount }}$</div>
          <div class="transaction-date">{{ transaction.created_at }}</div>
          <div class="transaction-category">{{ transaction.category }}</div>
          <div class="d-flex">
            <div class="icon-edit">
              <img src="../static/imgs/Edit.svg" alt="edit-icon">
            </div>
            <div class="icon-bin">
              <img src="../static/imgs/Bin.svg" alt="bin-icon">
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
<h1>Welcome!</h1>
{% endif %}
{% endblock %}