{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
        <div class="income-form shadow border-top rounded mb-5">
            <h1 class="page-name text-center">Credit</h1>
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <div class="upperText">
                  <label for="inputNumber" class="form-label">Amount</label>
                  <input type="number" class="rangeNum" name="credit_amount" id="inputNumber" value="0" min="0" max="100000" oninput="cloneValue(this.value)">
                </div>
                <input type="range" class="range" id="range" min="0" max="100000" step="1" value="0" oninput="getRange(this.value)" />
                <div class="lowerText1">
                  <label class="form-label text-center">0</label>
                  <label class="form-label text-center">100 000</label>
                </div>
                <div class="lowerText2">
                  <label class="form-label text-center">
                    Yearly Amount<br>
                    <p id="potentialIncome">0</p>
                    <input type="hidden" name="credit_income" value="0" id="depositIncomeField">
                  </label>
                  <label class="form-label text-center">
                    Loss<br>
                    <p id="profitValue">0</p>
                    <input type="hidden" name="credit_loss" value="0" id="depositProfitField">
                  </label>
                  <label class="form-label text-center">
                    Annual percentage<br>
                    13.9 %
                  </label>
                </div>
              </div>

              <div class="d-flex justify-content-center gap-3">
                <button type="submit" class="btn home-button" style="width: 100%;">Add</button>
                <a type="button" href="{% url 'transactions:home' %}" class="btn btn-cancel" style="width: 100%;">Cancel</a>
              </div>
            </form>
        </div>
    </div>
</div>
{% if credits %}
    <div class="row">
        <h2>Transactions:</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 mt-5 d-flex justify-content-center">
            <div class="table-responsive" style="width: 100%">
                <table class="table text-center">
                    <tbody class="justify-content-between " >
                        <tr>
                            <th class="col">Investment $</th>
                            <th class="col">Percentage</th>
                            <th class="col">Loss per year</th>
                            <th class="col">Edit</th>
                            <th class="col">Delete</th>
                        </tr>
                        {% for credit in credits reversed %}
                            <tr>
                                <th class="">{{ credit.amount }}$</th>
                                <td>{{ credit.percentage }}%</td>

                                    {% if credit.percentage == 11.5 %}
                                        <td class="text-success">+{{ credit.profit }}$</td>
                                    {% else %}
                                        <td class="text-danger">-{{ credit.profit }}$</td>
                                    {% endif %}

                                <td><a href="{% url 'transactions:edit_credit' credit.id %}" type="submit" class="btn ">
                                    <img src="{% static 'imgs/Edit.svg' %}" alt="edit">
                                </a></td>
                                <td><a href="{% url 'transactions:delete_credit' credit_id=credit.id %}" type="submit" class="btn">
                                    <img src="{% static 'imgs/Bin.svg' %}" alt="delete">
                                </a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

<script>
function percentage(percent, total) {
  return ((parseFloat(total) / 100) * percent).toFixed(2);
}

function getRange(val) {
  const result = parseFloat(val) + parseFloat(percentage(13.9, val));
  document.getElementById("potentialIncome").innerHTML = result;
  document.getElementById("inputNumber").value = val;
  document.getElementById("profitValue").innerText = parseFloat(percentage(13.9, val));

  // Update hidden input field values
  document.getElementById("depositIncomeField").value = result;
  document.getElementById("depositProfitField").value = parseFloat(percentage(13.9, val));
}

function cloneValue(val) {
  if (val > 100000) {
    val = 100000;
    inputNumber.value = val;
  } else if (val <= 0) {
    val = 0;
    inputNumber.value = val;
  }
  document.getElementById("range").value = val;
  const result = parseFloat(val) + parseFloat(percentage(13.9, val));
  document.getElementById("potentialIncome").innerHTML = result.toFixed(2);
  document.getElementById("profitValue").innerText = parseFloat(percentage(13.9, val));

  // Update hidden input field values
  document.getElementById("depositIncomeField").value = result.toFixed(2);
  document.getElementById("depositProfitField").value = parseFloat(percentage(13.9, val));
}

</script>

{% endblock %}
