{% extends 'base.html' %}
{% load static %}

{% block body %}

<h1 class="page-name text-center">Add Deposit</h1>
<div class="row">
  <div class="col-lg-6 col-md-12 income-form mx-auto bg-light border border-secondary rounded">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <div class="upperText">
          <label for="inputNumber" class="form-label">Amount</label>
          <input type="number" class="rangeNum" name="inputNumber" id="inputNumber" value="0" min="0" max="100000"  oninput="cloneValue(this.value)">
        </div>
        <input type="range" class="range" id="range" min="0" max="100000" step="1" value="0" oninput="getRange(this.value)" />
        <div class="lowerText1">
          <label class="form-label text-center">0</label>
          <label  class="form-label text-center">100.000</label>
        </div>
        <div class="lowerText2">
          <label  class="form-label text-center">
            Yearly Income<br>
            <p id="potentialIncome" name="income">0</p>
          </label>
          <label class="form-label text-center">
            Profit<br>
            <p id="profitValue">0</p>
          </label>
          <label class="form-label text-center">
            Annual percentage<br>
            11.5 %
          </label>
        </div>
      </div>

      <div class="d-flex justify-content-center gap-3">
        <button type="submit" class="btn btn-success">Add</button>
        <button class="btn btn-outline-success">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}