@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat&display=swap");

* {
  font-family: Montserrat, sans-serif;
}

.accent-style {
  font-family: "Lobster Two", cursive;
}

.logo-style {
  font-size: 3em;
}

.container-navbar {
  width: 15em;
  padding-left: 1.5em;
}

.main-body {
  /*margin: 4em 7em 1em;*/
}

@media screen and (max-width: 767px) {
  .main-body {
    /*margin: 4em 10% 1em;*/
  }
}

#sidebar {
  height: 100vh;
}

/*---------------------------------NAVBAR-------------------------------------*/

.nav-link-style {
  font-size: 1.15em !important;
  padding-left: 0.5em;
}

.sidebar-logo {
  height: 15px;
  width: auto;
}

.income-form {
  padding: 20px;
}

.page-name {
  margin-bottom: 20px;
}

.navbar-custom, .navbar-bg {
  background-color: #99e2b4;
}

.navbar-nav {
  width: 100%;
}

.navbar-icon {
  height: 25px;
}

.nav-item {
  display: flex;
  /*align-items: ;*/
}

.nav-item p {
  margin: 0;
}

.nav-link {
  color: #096667;
  font-weight: 500;
}

.nav-link.active {
  color: #096667 !important;
}

/*--------------------------------HOME---------------------------------------*/

@media (max-width: 1000px) {
  .home_responsivnes {
    width: 100%;
  }
}

@media (min-width:  1001px) {
  .home_responsivnes {
    width: 30%;
  }

  .second_div {
    width: 50%;
  }
}

.mi-custom:hover {
  background-color: #3BC849;
  transition: 1s;
  border-radius: 1rem;
}

.mi-custom2:hover {
  background-color: red;
  transition: 1s;
  border-radius: 1rem;
}

.mi-custom3:hover {
  background-color: orange;
  border-radius: 1rem;
  transition: 0.17s;
}

.list-bullet {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 15px;
}

#light-green {
  background-color: #5DBFBD;
}

#dark-green {
  background-color: #258277;
}

.home-button {
  background-color: #469D89;
  color: white;
  width: 50%;
  width: fit-content;
}

.view-more {
  text-decoration: none;
  color: #096667;
  font-weight: 500;
}

.table-wrapper {
  border-radius: 19px;
  width: 100%;
  box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 65vh;
  margin-bottom: 60px;
}

.table {
  background-color: white;
  border-radius: 19px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 25px;
  overflow-y: auto;
  height: 65vh;
  font-weight: 500;
  font-size: 15px;
}

.transaction-date {
  color: #767676;
  text-align: center;
  width: 40%;
}

.transaction-category {
  text-align: center;
  color: #096667;
  width: 20%;
}

.transaction-price {
  width: 20%;
}

#red {
  color: #DA5A5A;
}

#green {
  color: #3BC849;
}

.section-title {
  font-size: 22px;
  color: #096667;
  font-weight: 500;
}

.title {
  font-size: 18px;
}

.income-info, .expenses-info {
  padding: 4px 5px;
  font-size: 16px;
  line-height: 24px;
  color: #096667;
  border-radius: 11px;
}

.expenses-info {
  background-color: #EBC2C2;
}

.income-info {
  background-color: #C2EBD1;
}

.btns-wrapper {
  margin: 61px 0;
}

.date {
  color: #767676;
  font-size: 18px;
  background-color: transparent;
}

#date-start, #date-end {
  border: none;
  background-color: transparent;
}

/*-------------------------------------------------LOGIN/SIGNUP-------------------------------------------------------------------*/

.login-form, .signup-form {
  background-color: white;
  box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.1);
  padding: 25px;
  box-sizing: border-box;
  border-radius: 19px;
}

.account-button {
  border: 2px solid #469D89;
  font-weight: 500;
  font-size: 20px;
  color: #469D89;
}

.account-button:hover {
  background-color: #469D89;
  color: white;
}

.account-link a {
  font-weight: 500;
  color: #096667;
}

/*----------------------------------------------------------CREDIT/DEPOSIT----------------------------------------------------------------------------------------------------*/

.cr-dp-row {
  border-bottom: 1px solid #CFCFCF;
}

.cr-dp-row-top {
  border-bottom: 1px solid #CFCFCF;
  border-top: 1px solid #CFCFCF;
}

.cr-dp-table-wrapper {
  border-radius: 19px;
  box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 65vh;
  margin-bottom: 60px;
  padding: 0;
}

.cr-dp-table {
  background-color: white;
  border-radius: 19px;
  height: fit-content;
  box-sizing: border-box;
  padding: 25px;
  overflow-y: auto;
  height: 65vh;
  font-weight: 500;
}

.cr-dp-btn {
  padding: 5px 10px;
  background-color: #469D89;
  border-radius: 9px;
  color: white;
  margin: 18px 0;
}

.cr-dp-row-top div {
  color: #096667;
  font-size: 14px;
  text-align: center;
}

.cr-dp-row div {
  color: #096667;
  font-size: 16px;
  text-align: center;
}

.title-credit-deposit {
  font-weight: 500;
  font-size: 24px;
  color: #096667;
}

.add-credit-deposit a {
  font-weight: 500;
  font-size: 20px;
  color: #096667;
  text-decoration: none;
}

/*------------------------------------------INCOME/EXPENSES--------------------------------------------------------------------*/

.income-expenses-form {
  background-color: white;
  box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.income-expenses-title {
  font-weight: 500;
  font-size: 26px;
  color: #096667;
}

.form-label {
  font-weight: 500;
  font-size: 20px;
  color: #258277;
}

.btn-add {
  padding: 5px 10px;
  background-color: #469D89;
  border-radius: 9px;
  color: white;
}

.btn-cancel {
  padding: 5px 10px;
  border: 1px solid #469D89;
  border-radius: 9px;
  color: #767676;
}


/* -------------------------------DEPOSIT----------------------------------------- */

.range{
  display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    margin-top: 10px;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #096667;
  margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
  border: none;
  border-radius: 6px;
  height: 10px;
  background: #47b399;
}

.btn-success{
  background: #47b399;
}

.rangeNum{
  width: 20%;
}

.upperText{
  display: flex;
  justify-content: space-between;
}

.lowerText1{
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  padding: 3px 8px;
}

.lowerText2{
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}
