@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat&display=swap");

* {
  font-family: Montserrat, sans-serif;
}

.accent-style {
  font-family: "Lobster Two", cursive;
}

.logo-style {
  font-size: 3em;
}

.container-navbar {
  width: 15em;
  padding-left: 1.5em;
}

.main-body {
  /*margin: 4em 7em 1em;*/
}

@media screen and (max-width: 767px) {
  .main-body {
    /*margin: 4em 10% 1em;*/
  }
}

#sidebar {
  height: 100vh;
}

/*---------------------------------NAVBAR-------------------------------------*/

.nav-link-style {
  font-size: 1.15em !important;
  padding-left: 0.5em;
}

.sidebar-logo {
  height: 15px;
  width: auto;
}

.income-form {
  padding: 20px;
}

.page-name {
  margin-bottom: 20px;
}

.navbar-custom, .navbar-bg {
  background-color: #99e2b4;
}

/*--------------------------------HOME---------------------------------------*/

.list-bullet {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 29px;
}

#light-green {
  background-color: #5DBFBD;
}

#dark-green {
  background-color: #258277;
}

.home-button {
  background-color: #469D89;
  color: white;
  width: 50%;
}

.view-more {
  text-decoration: none;
}

.table {
  background-color: #ECECEC;
  border-radius: 19px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 25px;
}

.transaction-category {
  text-align: center;
}

.transaction-price, .transaction-category, .transaction-date {
  width: 25%;
}

.section-title {
  font-size: 22px;
  color: #096667;
  font-weight: 500;
}

.income-info, .expenses-info {
  padding: 4px 5px;
  font-size: 20px;
  line-height: 24px;
  color: #096667;
  border-radius: 11px;
}

.expenses-info {
  background-color: #E29999;
}

.income-info {
  background-color: #99E2B4;
}

.btns-wrapper {
  margin: 61px 0;
}


/* -------------------------------DEPOSIT----------------------------------------- */

.range{
  display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    margin-top: 10px;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #096667;
  margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
  border: none;
  border-radius: 6px;
  height: 10px;
  background: #47b399;
}

.btn-success{
  background: #47b399;
}

.rangeNum{
  width: 20%;
}

.upperText{
  display: flex;
  justify-content: space-between;
}

.lowerText1{
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  padding: 3px 8px;
}

.lowerText2{
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}
