@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat&display=swap');

* {
    font-family: Montserrat, sans-serif;
}

.accent-style {
    font-family: 'Lobster Two', cursive;
}

.logo-style {
    font-size: 3em;
}

.container-navbar {
    width: 15em;
    padding-left: 1.5em;
}

.main-body {
    /*margin: 4em 7em 1em;*/
}

@media screen and (max-width: 767px) {
    .main-body {
        /*margin: 4em 10% 1em;*/
    }
}

#sidebar {
    height: 100vh;
}

/*---------------------------------NAVBAR-------------------------------------*/

.nav-link-style {
    font-size: 1.15em !important;
    padding-left: 0.5em;
}

.sidebar-logo{
    height: 15px;
    width: auto;
}

