{% extends 'base.html' %}
{% load static %}

{% block body %}

<h1 class="page-name text-center">Add Expense</h1>
<div class="row">
  <div
    class="col-lg-6 col-md-12 income-form mx-auto bg-light border border-secondary rounded"
  >
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Category</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>None</option>
          <option value="1">Sport</option>
          <option value="2">Health</option>
          <option value="3">Shopping</option>
          <option value="1">Clothes</option>
          <option value="2">Attractions</option>
          <option value="3">Public transport</option>
          <option value="3">Food</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="inputNumber" class="form-label">Amount</label>
        <input type="number" class="form-control" id="inputNumber" />
      </div>
      <div class="d-flex justify-content-center gap-3">
        <button type="submit" class="btn btn-success">Add</button>
        <button class="btn btn-outline-success">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
