{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="row">
  <div
    class="income-expenses-form col-lg-5 col-md-10 mx-auto mt-4"
  >
<div class="income-expenses-title mb-3">Add Expense</div>

    <form method="POST">
    {% csrf_token %}
      <div class="mb-3">
        <label for="expense_category" class="form-label">Category</label>
        <select class="form-select" aria-label="Default select example" name="expense_category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="inputNumber" class="form-label">Amount</label>
        <input type="number" class="form-control" id="inputNumber" name="expense_amount"/>
      </div>
      <div class="d-flex justify-content-center gap-3">
        <button type="submit" class="btn btn-add">Add</button>
        <button class="btn btn-cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
